# 04 DESCRTIPTIVE STATISTICS
- Author: Adrian Chirinos
- Date: 11/08/2025
- Goal: Learn basic EDA (Exploratory Data Analysis) using descriptive statistics.

In [ ]:
# Step 0. Load libraries and custom modiles
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Credits:,
- Horst AM, Hill AP, Gorman KB (2020). palmerpenguins: Palmer,
- Archipelago (Antarctica) penguin data. R package version 0.1.0.,
- https://allisonhorst.github.io/palmerpenguins/,

<img src='https://allisonhorst.github.io/palmerpenguins/reference/figures/lter_penguins.png' width=400/>

<img src="https://allisonhorst.github.io/palmerpenguins/reference/figures/culmen_depth.png" width=400/>

In [18]:
#Step 1: Load data
url = 'https://gist.githubusercontent.com/slopp/'
url += 'ce3b90b9168f2f921784de84fa445651/raw/'
url += '4ecf3041f0ed4913e7c230758733948bc561f434/penguins.csv'
df = pd.read_csv(url)
df.sample(10)

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
132,133,Adelie,Dream,36.8,18.5,193.0,3500.0,female,2009
62,63,Adelie,Biscoe,37.6,17.0,185.0,3600.0,female,2008
194,195,Gentoo,Biscoe,45.3,13.7,210.0,4300.0,female,2008
266,267,Gentoo,Biscoe,46.2,14.1,217.0,4375.0,female,2009
324,325,Chinstrap,Dream,51.5,18.7,187.0,3250.0,male,2009
305,306,Chinstrap,Dream,52.8,20.0,205.0,4550.0,male,2008
56,57,Adelie,Biscoe,39.0,17.5,186.0,3550.0,female,2008
218,219,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN,2008
330,331,Chinstrap,Dream,42.5,17.3,187.0,3350.0,female,2009
149,150,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [20]:
#Step 2: Clean Data
df_baking = df_raw.copy()
df_baking = df_baking.drop(columns=['rowid'])
df_baking = df_baking.dropna()
df_baking['species'] = df_baking['species'].astype('category')
df_baking['island'] = df_baking['island'].astype('category')
df_baking['sex'] = df_baking['sex'].astype('category')

df = df_baking.copy()
df.info()

NameError: name 'df_raw' is not defined